on: [push, pull_request]
name: Build
jobs:
  build:
    strategy:
      matrix:
        goarch: [amd64, arm64]
        os: [linux] 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Install kubebuilder tools
      run: ./hack/install-kubebuilder-tools.sh

    - name: Generate code
      run: ./hack/generate-code.sh

    - name: Build
      env:
        GOARCH: ${{ matrix.goarch }}
        GOOS: ${{ matrix.os }}
      run: ./hack/build-go.sh
