name: Image build
on: [push]
jobs:
  build-multiarch:
    name: Image build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build container image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: ghcr.io/${{ github.repository }}:latest
          file: Dockerfile
          platforms: linux/arm64,linux/amd64

  build-openshift:
    name: Image build/openshift
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build container image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: k8snetworkplumbingwg/whereabouts-ocp
          file: Dockerfile.openshift
          platforms: linux/arm64,linux/amd64
