on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        #go-version: [1.15.x, 1.16.x]
        go-version: [1.15.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Run Revive Action by building from repository
      uses: morphy2k/revive-action@v1.4.1
      with:
        exclude: "./vendor/..."
        name: "Revive"

    - name: Install kubebuilder tools
      run: ./hack/install-kubebuilder-tools.sh

    - name: Generate code
      run: ./hack/generate-code.sh

    - name: Run go fmt
      run: go fmt ./...
      #run: diff -u <(echo -n) <(gofmt -d -s .)

    - name: Run go vet
      run: go vet ./...

    - name: Install golint
      run: GO111MODULE=off GOBIN=$(pwd)/bin go get golang.org/x/lint/golint

    - name: Test
      run: sudo PATH=${PATH}:./bin ./hack/test-go.sh

    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: coverage.out
        flag-name: Go-${{ matrix.go }}
        parallel: true
      env:
        KUBEBUILDER_ASSETS: "$(pwd)/bin"

  # notifies that all test jobs are finished.
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true

  e2e-test:
    name: e2e test
    runs-on: ubuntu-latest
    env:
      NUMBER_OF_COMPUTE_NODES: 5
    steps:
      - name: Set up Go version
        uses: actions/setup-go@v1
        with:
          go-version: 1.16

      - name: Checkout code into the Go module directory
        uses: actions/checkout@v2

      - name: Install requirements
        run: sudo apt-get install nmap jq

      - name: Get tools, setup KinD cluster test environment
        run: source hack/e2e-get-test-tools.sh && ./hack/e2e-setup-kind-cluster.sh --number-of-compute $NUMBER_OF_COMPUTE_NODES

      - name: Execute E2E tests
        run: NUMBER_OF_THRASH_ITER=20 FILL_PERCENT_CAPACITY=20 ./hack/e2e-test.sh --number-of-compute $NUMBER_OF_COMPUTE_NODES
